<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="grow1.css">
	<link rel="stylesheet" type="text/css" href="chart.css">
	<title></title>
</head>
<body>
    <div class="cart-hero">
    	<div class="top-view">
    		<h1>JAY JAWAN JAI KISAN </h1>
    	</div>


    	<div class="product ">

    		<div class="chart-box">
    			<h2> POTASH</h2>
    			<div class="imge" style="background-image:url('fertilizer images/potash.webp');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>



    		<div class="chart-box">
    			<h2> DAP</h2>
    			<div class="imge"  style="background-image:url('fertilizer images/DAP.jpg');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>


            <div class="chart-box">
    			<h2> LOHA</h2>
    			<div class="imge" style="background-image:url('fertilizer images/loha.jpeg');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>

            <div class="chart-box">
    			<h2>MYCO</h2>
    			<div class="imge" style="background-image:url('fertilizer images/myco.png');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>

    	</div>



    	<div class="product product1">

    		<div class="chart-box">
    			<h2> UREA</h2>
    			<div class="imge" style="background-image:url('fertilizer images/ureabag.png');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>



    		<div class="chart-box">
    			<h2> GYPSUM</h2>
    			<div class="imge" style="background-image:url('fertilizer images/gypsum.jpg');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>


            <div class="chart-box">
    			<h2> SULPHER</h2>
    			<div class="imge" style="background-image:url('fertilizer images/sulpher.jpg');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>

            <div class="chart-box">
    			<h2>ZINC</h2>
    			<div class="imge" style="background-image:url('fertilizer images/zinc.webp');">
    			</div>
    			<div class="price">
    				<p color="black"> price </p>
    				<p>view more</p>
    			</div>
    			<button class="btn">Add cart</button>
    		</div>

    	</div>
    </div>
	<footer >
        	<div class="nav-footer">
        		<div class="back">
        	     	<p> Back to top</p>
        	    </div>
        	</div>

            <div class="bottom-footer">
            	<div class="footer-box1  boxes">
            		<h4> Get to Know us</4>
            		<p>About Us</p>
            		<p>Careers</p>
            		<p>Press Releases</p>
            	</div>
            	<div class="footer-box1  boxes">
            		<h4>Connect with Us</h4>
            		<p>Facebook</p>
            		<p>Twitter</p>
            		<p>Instagram</p>
            	</div>
            	<div class="footer-box1  boxes">
            		<h4>Make Money with Us</h4>
            		<p>Protect and Build Your Brand</p>
            	</div>
            	<div class="footer-box1  boxes">
            		<h4> Let Us Help You </h4>
            		<p>Help</p>
            	</div>
            </div>




        </footer>

</body>
</html>